stepfunctions/alert_generation.asl.json
{
  "Comment": "Amazon HealthSignals — Alert Generation Workflow with Drug Shortage Intelligence. Orchestrates Bedrock InvokeModel calls with model routing (Sonnet 4.5 for routine, Sonnet 5 for high-severity). Supports three alert paths: disease_outbreak, shortage, and combined signals. NOTE: Bedrock Guardrails should be created separately and applied via the Bedrock console or API — see docs/DEPLOYMENT.md Step 7.",
  "StartAt": "DetermineAlertType",
  "States": {
    "DetermineAlertType": {
      "Type": "Choice",
      "Comment": "Route to appropriate alert generation path based on alert_type. Defaults to DiseaseOutbreakPath for backward compatibility.",
      "Choices": [
        {
          "Variable": "$.alert_type",
          "StringEquals": "disease_outbreak",
          "Next": "SituationBrief"
        },
        {
          "Variable": "$.alert_type",
          "StringEquals": "shortage",
          "Next": "ShortageAlertPath"
        },
        {
          "Variable": "$.alert_type",
          "StringEquals": "combined",
          "Next": "CombinedSignalPath"
        }
      ],
      "Default": "SituationBrief"
    },

    "SituationBrief": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 1500,
          "system": "You are a public health surveillance analyst generating situation briefs for rural health departments. You summarize metropolitan disease signals into clear, actionable intelligence. Never provide clinical recommendations or diagnoses. Always include confidence levels. Frame predictions as 'historical patterns suggest' not 'will happen'.",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Generate a situation brief for {} regarding {}. Leader metro: {} crossed threshold at {}% ED visits (week {}). Historical lag to this county: {} weeks. Severity multiplier from past seasons: {}×. Number of calibration seasons: {}. Current CDC activity level for state: {}.', $.county_name, $.disease, $.leader_metro_name, $.leader_value, $.detection_week, $.lag_weeks, $.severity_multiplier, $.seasons_calibrated, $.cdc_activity_level)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.situation_brief_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "SeverityClassification"
    },

    "SeverityClassification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 500,
          "system": "You are a severity classification engine for disease surveillance alerts. Classify the alert into exactly one category: LOW, MODERATE, HIGH, or CRITICAL. Respond with ONLY a JSON object: {\"severity\": \"...\", \"reasoning\": \"...\", \"confidence\": 0.0-1.0}. Classification criteria: LOW = signal detected but below historical average, no action needed. MODERATE = signal at or above historical average, preparation recommended. HIGH = signal significantly above average OR accelerating trend, urgent preparation. CRITICAL = unprecedented signal level OR multiple metros affected simultaneously.",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Classify severity for this alert. Situation brief: {}. Leader value: {}%. Historical severity multiplier: {}×. Seasons of calibration data: {}. Confidence in prediction: {}.', $.situation_brief_result.Body.content[0].text, $.leader_value, $.severity_multiplier, $.seasons_calibrated, $.confidence)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.severity_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "ModelRoutingChoice"
    },

    "ModelRoutingChoice": {
      "Type": "Choice",
      "Comment": "Route to Sonnet 5 for HIGH/CRITICAL severity, stay with Sonnet 4.5 for LOW/MODERATE",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.severity_result.Body.content[0].text",
              "StringMatches": "*HIGH*"
            },
            {
              "Variable": "$.severity_result.Body.content[0].text",
              "StringMatches": "*CRITICAL*"
            }
          ],
          "Next": "PreparationChecklistSonnet"
        }
      ],
      "Default": "PreparationChecklistRoutine"
    },

    "PreparationChecklistRoutine": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 2000,
          "system": "You generate preparation checklists for rural health departments based on disease surveillance alerts. Your checklists must be: (1) Actionable with specific quantities/timelines, (2) Appropriate for departments with <5 staff and limited budgets, (3) Ordered by priority and deadline, (4) Include estimated costs where relevant. Never recommend clinical treatments. Focus on: staffing, supplies ordering, communication plans, partner coordination, facility preparation. Reference CDC guidelines where applicable.",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Generate a preparation checklist for {}. Disease: {}. Severity: {}. Expected arrival: {} weeks from now. Situation: {}. County population: rural (<50K). Available preparation time: {} weeks.', $.county_name, $.disease, $.severity_result.Body.content[0].text, $.lag_weeks, $.situation_brief_result.Body.content[0].text, $.warning_window_weeks)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.checklist_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "CommunicationDrafting"
    },

    "PreparationChecklistSonnet": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-5",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 3000,
          "system": "You generate URGENT preparation checklists for rural health departments facing HIGH or CRITICAL severity disease alerts. This is a time-critical situation. Your checklists must be: (1) Immediately actionable — what to do TODAY, THIS WEEK, BEFORE ARRIVAL, (2) Include escalation paths (state health dept, mutual aid, FEMA contacts), (3) Specific resource quantities based on county population, (4) Include communication templates for public announcements, (5) Reference CDC emergency response guidelines. Be thorough — this is the only preparation guidance they'll receive. Never recommend clinical treatments or diagnoses.",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('URGENT: Generate a comprehensive preparation checklist for {}. Disease: {}. Severity: HIGH/CRITICAL. Expected arrival: {} weeks from now. Situation: {}. This is a high-severity alert requiring immediate action. County population: rural (<50K). Available preparation time: {} weeks.', $.county_name, $.disease, $.lag_weeks, $.situation_brief_result.Body.content[0].text, $.warning_window_weeks)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.checklist_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "CommunicationDrafting"
    },

    "CommunicationDrafting": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 2000,
          "system": "You draft communications for rural health officers to send to their communities and partners. Generate TWO outputs: (1) An EMAIL brief (500-800 words) with situation summary, preparation checklist, and confidence disclaimer, (2) An SMS alert (≤160 characters) that conveys urgency without causing panic. Tone: professional, calm, actionable. Never use alarmist language. Always include the disclaimer: 'This alert is based on historical pattern analysis, not clinical diagnosis. Confidence: [X]%. Use professional judgment for resource decisions.'",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Draft alert communications for {}. Disease: {}. Severity: {}. Situation brief: {}. Preparation checklist: {}. Confidence: {}%. Warning window: {} weeks. Generate both EMAIL and SMS formats.', $.county_name, $.disease, $.severity_result.Body.content[0].text, $.situation_brief_result.Body.content[0].text, $.checklist_result.Body.content[0].text, $.confidence_pct, $.warning_window_weeks)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.communication_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "DispatchAlerts"
    },

    "ShortageAlertPath": {
      "Type": "Task",
      "Comment": "Generate shortage situation brief for standalone shortage alerts using Claude Sonnet 4.5",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 2000,
          "system": "You are a pharmaceutical supply chain analyst generating shortage situation briefs for pharmacists at rural health facilities. Your role is to synthesize drug shortage data into clear, actionable intelligence that helps pharmacists manage inventory and coordinate with prescribers proactively.\n\nGenerate a concise shortage situation brief (400-600 words) structured with the following sections:\n1. EXECUTIVE SUMMARY — 2-3 sentences describing the overall shortage situation for the therapeutic category this week\n2. AFFECTED MEDICATIONS — List of drugs experiencing NEW or WORSENING shortages with product names\n3. SUPPLY STATUS — Current supply status for each affected medication with reason for shortage\n4. RESOLUTION TIMELINE — Estimated resolution dates where available, or 'No estimated date provided' if unknown\n5. PHARMACIST ACTIONS — Recommended operational actions (inventory review, prescriber communication, patient notification planning)\n\nMandatory Constraints:\n- Do NOT provide specific drug substitution recommendations or clinical guidance\n- Do NOT suggest therapeutic alternatives or equivalent medications\n- Do NOT recommend changes to patient treatment plans\n- Always include disclaimer: FOR PHARMACIST REVIEW ONLY\n- Frame all actions as OPERATIONAL PREPAREDNESS, not clinical decision-making\n- NEVER state shortage durations as certainties — use 'FDA estimates', 'based on reported data', 'subject to change'\n\nFollow CDC CERC communication principles: Be first, be right, be credible, express empathy, promote action, show respect. Use professional, non-alarmist, factual language appropriate for licensed pharmacists.\n\nGrounding Rules:\n- Only reference data actually provided in the input\n- Do not hallucinate specific dates, quantities, or manufacturer names not in the input\n- If estimated_resolution_date is null, say 'No estimated resolution date provided by FDA'\n- If reason_for_shortage is 'Unknown' or empty, say 'Reason not disclosed by manufacturer'\n- Reference source as 'FDA Drug Shortage Database'",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Generate a shortage situation brief for the following drug shortage data. Therapeutic category: {}. Week: {}. Affected products: {}', $.therapeutic_category, $.week_timestamp, States.JsonToString($.affected_products))"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.shortage_brief_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "DispatchAlerts"
    },

    "CombinedSignalPath": {
      "Type": "Task",
      "Comment": "Generate combined disease outbreak + drug shortage situation brief using Claude Sonnet 4.5",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 3000,
          "system": "You are a public health surveillance analyst generating combined disease outbreak and drug shortage alerts for rural health officers. Your role is to produce enriched disease outbreak situation briefs that include pharmaceutical supply context, helping county health departments understand both the epidemiological threat and any medication availability constraints simultaneously.\n\nGenerate a combined situation brief with the following structure:\n\nSection 1: DISEASE OUTBREAK SUMMARY (PRIMARY)\n- What metropolitan signal was detected (city, level, trend)\n- What this historically means for the recipient's county\n- Estimated preparation window with confidence level\n- Number of calibration seasons supporting the prediction\n\nSection 2: MEDICATION AVAILABILITY ALERT (SUPPLEMENTAL)\n- Which medications relevant to this disease are currently in shortage\n- Current supply status for each affected medication\n- Reason for shortage (demand increase, manufacturing, etc.)\n- Estimated resolution timeline if available\n\nSection 3: COMBINED PREPAREDNESS ACTIONS\n- Integrated preparation recommendations accounting for both outbreak timeline and medication supply constraints\n\nMandatory Constraints:\n- PRIORITIZE disease outbreak information as the PRIMARY content\n- Present shortage context as SUPPLEMENTAL preparedness intelligence only\n- Do NOT provide specific drug substitution recommendations\n- Do NOT recommend specific alternative medications or treatment protocols\n- NEVER state predictions as certainties — use 'historical patterns suggest', 'based on N past seasons'\n- ALWAYS include the number of calibration seasons backing the prediction\n- Frame everything as PREPARATION guidance, not clinical action\n- ALWAYS include disclaimer: 'FOR PHARMACIST REVIEW ONLY — Medication availability information' in the Medication Availability Alert section\n\nFollow CDC CERC communication principles: Be first, be right, be credible, express empathy, promote action, show respect. Professional, non-alarmist, factual language at 8th grade reading level.\n\nGrounding Rules:\n- Only reference data actually provided in the input\n- Do not hallucinate dates, percentages, medication names, or historical events\n- Reference disease surveillance source as 'CMU Delphi syndromic surveillance data'\n- Reference shortage data source as 'FDA Drug Shortages Database'\n- If shortage_context contains no affected medications, omit the Medication Availability Alert section",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Generate a combined disease outbreak and drug shortage situation brief. Disease data: County: {}, Disease: {}, Leader metro: {}, Signal level: {}%, Estimated arrival: {} weeks, Confidence: {}%, Calibration seasons: {}. Shortage context: {}', $.county_name, $.disease, $.leader_metro_name, $.leader_value, $.lag_weeks, $.confidence, $.seasons_calibrated, States.JsonToString($.shortage_context))"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.combined_brief_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "DispatchAlerts"
    },

    "DispatchAlerts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "healthsignals-alert-dispatcher",
        "Payload.$": "$"
      },
      "ResultPath": "$.delivery_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "AlertSucceeded"
    },

    "AlertSucceeded": {
      "Type": "Succeed",
      "Comment": "Alert generated and dispatched successfully"
    },

    "GenerationFailed": {
      "Type": "Fail",
      "Cause": "Alert generation pipeline failed",
      "Error": "GenerationError"
    }
  }
}