stepfunctions/alert_generation.asl.json
{
  "Comment": "Amazon HealthSignals — Core Alert Generation Workflow. Orchestrates Bedrock InvokeModel calls for disease outbreak alerts with model routing (Sonnet 4.5 for routine, Sonnet 5 for high-severity). Plugin modules (e.g., Drug Shortage) use their own state machines. NOTE: Bedrock Guardrails should be created separately and applied via the Bedrock console or API — see docs/DEPLOYMENT.md Step 7.",
  "StartAt": "SituationBrief",
  "States": {
    "SituationBrief": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 1500,
          "system": "You are a public health surveillance analyst generating situation briefs for rural health departments. You summarize metropolitan disease signals into clear, actionable intelligence. Never provide clinical recommendations or diagnoses. Always include confidence levels. Frame predictions as 'historical patterns suggest' not 'will happen'. If EXTERNAL FORECAST CONTEXT is provided and contains data (not null), include a section titled 'EXTERNAL FORECAST CONTEXT' summarizing the external ensemble forecast. Report provider source, horizon, point estimate, and confidence interval. If external and internal estimates disagree, note both and express uncertainty. If external_forecast is null or empty, omit this section entirely.",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Generate a situation brief for {} regarding {}. Leader metro: {} crossed threshold at {}% ED visits (week {}). Historical lag to this county: {} weeks. Severity multiplier from past seasons: {}×. Number of calibration seasons: {}. Current CDC activity level for state: {}. External forecast context: {}.', $.county_name, $.disease, $.leader_metro_name, $.leader_value, $.detection_week, $.lag_weeks, $.severity_multiplier, $.seasons_calibrated, $.cdc_activity_level, States.JsonToString($.external_forecast))"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.situation_brief_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "SeverityClassification"
    },

    "SeverityClassification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 500,
          "system": "You are a severity classification engine for disease surveillance alerts. Classify the alert into exactly one category: LOW, MODERATE, HIGH, or CRITICAL. Respond with ONLY a JSON object: {\"severity\": \"...\", \"reasoning\": \"...\", \"confidence\": 0.0-1.0}. Classification criteria: LOW = signal detected but below historical average, no action needed. MODERATE = signal at or above historical average, preparation recommended. HIGH = signal significantly above average OR accelerating trend, urgent preparation. CRITICAL = unprecedented signal level OR multiple metros affected simultaneously.",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Classify severity for this alert. Situation brief: {}. Leader value: {}%. Historical severity multiplier: {}×. Seasons of calibration data: {}. Confidence in prediction: {}.', $.situation_brief_result.Body.content[0].text, $.leader_value, $.severity_multiplier, $.seasons_calibrated, $.confidence)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.severity_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "ModelRoutingChoice"
    },

    "ModelRoutingChoice": {
      "Type": "Choice",
      "Comment": "Route to Sonnet 5 for HIGH/CRITICAL severity, stay with Sonnet 4.5 for LOW/MODERATE",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.severity_result.Body.content[0].text",
              "StringMatches": "*HIGH*"
            },
            {
              "Variable": "$.severity_result.Body.content[0].text",
              "StringMatches": "*CRITICAL*"
            }
          ],
          "Next": "PreparationChecklistSonnet"
        }
      ],
      "Default": "PreparationChecklist"
    },

    "PreparationChecklist": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 1500,
          "system": "You generate preparation checklists for rural health departments based on disease surveillance alerts. Checklists should be practical, prioritized (1-2 week, 2-4 week, 4+ week timeframes), specific to rural health infrastructure, and include both clinical and logistical preparations. Never recommend specific medications or treatment protocols. Focus on: staffing, supply ordering, communication planning, community outreach scheduling, and coordination with neighboring counties.",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Generate a preparation checklist for {} preparing for {}. Warning window: {} weeks. Severity: {}. Situation: {}', $.county_name, $.disease, $.warning_window_weeks, $.severity_result.Body.content[0].text, $.situation_brief_result.Body.content[0].text)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.checklist_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "CommunicationDrafting"
    },

    "PreparationChecklistSonnet": {
      "Type": "Task",
      "Comment": "High-severity path: uses Sonnet 5 for more detailed preparation guidance",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 2000,
          "system": "You generate URGENT preparation checklists for rural health departments facing HIGH or CRITICAL disease surge threats. This is a high-priority alert. Checklists should be comprehensive, immediately actionable, and include escalation procedures. Include: immediate actions (24-48h), short-term preparations (1-2 weeks), coordination requirements (mutual aid, state notification), supply chain urgency, staffing contingencies, and community communication plans. Never recommend specific medications. Focus on operational readiness.",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Generate an URGENT preparation checklist for {} preparing for {} (HIGH/CRITICAL severity). Warning window: {} weeks. Severity assessment: {}. Situation brief: {}', $.county_name, $.disease, $.warning_window_weeks, $.severity_result.Body.content[0].text, $.situation_brief_result.Body.content[0].text)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.checklist_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "CommunicationDrafting"
    },

    "CommunicationDrafting": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 2000,
          "system": "You draft communications for rural health officers to send to their communities and partners. Generate TWO outputs: (1) An EMAIL brief (500-800 words) with situation summary, preparation checklist, and confidence disclaimer, (2) An SMS alert (≤160 characters) that conveys urgency without causing panic. Tone: professional, calm, actionable. Never use alarmist language. Always include the disclaimer: 'This alert is based on historical pattern analysis, not clinical diagnosis. Confidence: [X]%. Use professional judgment for resource decisions.'",
          "messages": [
            {
              "role": "user",
              "content.$": "States.Format('Draft alert communications for {}. Disease: {}. Severity: {}. Situation brief: {}. Preparation checklist: {}. Confidence: {}%. Warning window: {} weeks. Generate both EMAIL and SMS formats.', $.county_name, $.disease, $.severity_result.Body.content[0].text, $.situation_brief_result.Body.content[0].text, $.checklist_result.Body.content[0].text, $.confidence_pct, $.warning_window_weeks)"
            }
          ],
          "thinking": {
            "type": "disabled"
          }
        }
      },
      "ResultPath": "$.communication_result",
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "DispatchAlerts"
    },

    "DispatchAlerts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "healthsignals-alert-dispatcher",
        "Payload.$": "$"
      },
      "ResultPath": "$.delivery_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "GenerationFailed"
        }
      ],
      "Next": "AlertSucceeded"
    },

    "AlertSucceeded": {
      "Type": "Succeed",
      "Comment": "Alert generated and dispatched successfully"
    },

    "GenerationFailed": {
      "Type": "Fail",
      "Cause": "Alert generation pipeline failed",
      "Error": "GenerationError"
    }
  }
}
